
menu, ol, ul {
   padding: 0 0 0 24px;
}

.content {
   width: 48em;
}

.heading_rule {
   margin-top: 100px;
   margin-bottom: 22px;
}

.avatar {
   width: 100%;
}

.details_box {
   padding: 0 24px;
}

.home_page_heading {
   margin: 0 0 10px 0;
}
