%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rob Ramsay's Web CV
    %link{:href => "circle_cv_css/circle-cv.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .head_box
      %img{:alt => "Decorative header image", :src => "circle_cv_css/images/h1-circle.jpg"}/
      %h1 Robert Ramsay
      %p
        7 Karoro Pl, Paremata, Wellington &middot; 021 109 4077 &middot;
        robert.ramsay.nz@gmail.com
    .body_box
      %img.h2_img{:alt => "Decorative list image", :src => "circle_cv_css/images/h2-circle.jpg"}/
      %h2 Personal Statement
      %p
        Intelligent and creative, motivated by all aspects of web-based computing, and
        capably supported by solid technical expertise. Presently seeking career
        progression into a web-industry development role. Holding a Master's Degree in
        Electronic Engineering, before several years work experience with a leading
        university research laboratory. Projects undertaken include web-development,
        augmented-reality, and physical-computing development.
      %img.h2_img{:alt => "Decorative list image", :src => "circle_cv_css/images/h2-circle.jpg"}/
      %h2 Relevant Projects
      %ul
        %li
          %b Volcanic Simulation Website:
          created for the University of
          Canterbury's Geology dept., this website simulates volcanic eruptions using
          animated 2D-graphs and narrative text. JavaScript is used to create a moving
          simulation-timeline the user can control, and to update the site’s graphs and
          dynamic components. PHP software allows an admin-user to update the simulation
          data, which is filtered and stored in an SQL database. A freelance project, I
          interviewed the client, created the site-specification, and individually coded
          the HTML, CSS, PHP, and JavaScript components. This also involved Linux server
          admin, and Apache and MySQL software configuration.
        %li
          %b www.torokiki.net:
          a web-based ethnographic role-playing game,
          where users create text, picture, or video responses to curated images of
          historic Wellington. Central to this game is group play and motivational
          quests. The site was a personal collaboration between members of HITLab NZ and
          Wellington's web community. I helped create the site's concept design and
          storyboards, and was responsible for designing and creating its custom
          email-gateway for content submission. This parses mail from users, extracts
          content, and transmits it to the web-site, before sending a user reply.
          Torokiki was presented at the
          %b 2010 Webstock Mix and Mash
          conference.
        %li
          %b Academic Teaching Support:
          technical support provision for an
          Augmented Reality course (HITLab). Including: preparation of course tools,
          in-class lectures, and maintaining a website with detailed help documentation.
          Responsible for: copy and files for site, configuration of Apache web-server,
          and administration of Linux server. The server also provided password
          protected repositories for the Git source-code management system, allowing
          researchers to collaborate on multiple projects.
        %li
          %b ARToolkit Port:
          port of the ARToolkit augmented-reality library,
          for the ARM embedded-processor common in cell phones (HITLab). Collaborated
          with Finnish research lab creating augmented reality application, combining
          this library with a broad range of image processing such as QR-code reading, and
          facial recognition. Involved self-taught programming of mobile 3D-graphics, and
          extensive work with embedded-Linux platforms and mobile phones.
      %img.h2_img{:alt => "Decorative list image", :src => "circle_cv_css/images/h2-circle.jpg"}/
      %h2 Skillset
      %ul
        %li
          %b Programming Languages
          %br/
          PHP, JavaScript, Perl, Bash, C, C++, Java, VHDL, Matlab.
        %li
          %b Development Skills
          %br/
          HTML, CSS, git, SVN, Gnu-Makefile, LaTeX.
        %li
          %b Operating Systems
          %br/
          Development experience with Macintosh, Windows, and high level Linux/Unix proficiency.
        %li
          %b Development Experience
          %br/
          Web, desktop, mobile and embedded development experience.
      .pagebreak
      %img.h2_img{:alt => "Decorative list image", :src => "circle_cv_css/images/h2-circle.jpg"}/
      %h2 Employment History
      %p
        %b
          Human Interface Technology Lab NZ, University of Canterbury
          %br/
          Electronic Engineer
        %br/
        The HITLab NZ is a multi-disciplinary research-centre, developing revolutionary interfaces for computer interaction. Research fields include virtual and
        augmented reality, multi-modal interaction techniques, multi-point touch screen
        applications, collaborative videoconferencing tools, and interactive on-line
        applications.
        %br/
        %b Role:
        creating software and electronic prototypes, ranging from
        biometric-analysis systems to sockets-based communication software.
        %br/
        %b Projects:
        software development in a range of languages, embedded-Linux
        and Linux-kernel development, and electronic design and construction.
      %p
        %b
          Trimble Navigation NZ Ltd, Mapping and GIS Group, Christchurch
          %br/
          Product Tester
        %br/
        Producer of a wide range of GPS products. Position was within the Mapping and Geographic Information Systems (GIS) division, specialising in systems that collect and process detailed infrastructure maps.
        %br/
        %b Role:
        testing GPS-enabled PDA hardware, specifically GIS mapping software, with close interaction with the Hardware and Software divisions to report, track, and verify errors.
      %p
        %b
          DMC Stratex Networks Ltd, Wellington
          %br/
          Student Test Engineer
        %br/
        Producer of long haul microwave radios and support products e.g.
        software, multiplexers and installation equipment.
        %br/
        %b Role:
        member of a small team testing microwave radios, producing test documentation, in collaboration with hardware, R&amp;D, and customer support departments.
      %img.h2_img{:alt => "Decorative list image", :src => "circle_cv_css/images/h2-circle.jpg"}/
      %h2 Education
      %p
        %b
          Master's of Engineering, 2007
          %br/
          University of Canterbury
          %br/
        %i
          Thesis &ldquo;A Hardware Based 3D Room Scanner&rdquo;, described the re-implementation of software and hardware for a 3D scanner using an FPGA processor.
      %p
        %b
          Bachelor of Electrical and Computer Engineering with Honours, 2002
          %br/
          University of Canterbury
        %br/
        %i
          Specialisations included Software, Hardware, Signal Processing, and Management.
      %img.h2_img{:alt => "Decorative list image", :src => "circle_cv_css/images/h2-circle.jpg"}/
      %h2 Interests
      %p
        Music: Guitar, DJ-ing, concerts and gigs
        %br/
        Sport: soccer, cricket, Kendo
        %br/
        Creative Technology: TED Talks, barcamps, creative home-projects
      %img.h2_img{:alt => "Decorative list image", :src => "circle_cv_css/images/h2-circle.jpg"}/
      %h2 References
      %p
        Available upon request
