doctype html
html
  head
    link href="https://fonts.googleapis.com/css?family=Lusitana:400,700" rel="stylesheet" type="text/css"
    link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css"
    link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic" rel="stylesheet" type="text/css"
    link href="stylesheets/aaa.css" rel="stylesheet"
    title Rob Ramsay

  body
    div class="container type-system-serif"
      div class="sidebar"
        div class="mobile-nav"
          h2
            a class="nav-link" href="/" Home
            '  &ndash;
            a class="nav-link" href="/employment" Employment
            '  &ndash;
            a class="nav-link" href="/music" Music
            '  &ndash;
            a class="nav-link" href="/blog" Blog
            '  &ndash;
            a class="nav-link" href="/contact" Contact

        div class="desktop-nav"
          h1
            a class="nav-link" href="/" Rob Ramsay
          h2
            a class="nav-link" href="/employment" Employment
          h2
            a class="nav-link" href="https://www.djrube.net" Music
          h2
            a class="nav-link" href="/blog" Blog
          h2
            a class="nav-link" href="/contact" Contact

      div class="content"
        div
          p
            img alt="Rob Ramsay" class="avatar" src="images/robramsaynz.jpg"

        div
          p class="something"
            | I'm Rob, a Wellington New Zealand based web-developer and sysadmin who works for domain name registrar <a href="https://iwantmynamme.com">iwantmyname</a>. I'm interested in all things web-development from typography to configuration-management, with my current language of choice being <a href="https://en.wikipedia.org/wiki/Elixir_(programming_language)">Elixir</a>.
          p class="something"
            | Before iwantmyname I worked as a Ruby on Rails dev at Wellington web development consultancy <a href="ackama.co.nz">Ackama</a> back when they were called Rabidtech, and in a former life I was an Electronic Engineer at <a href="https://www.hitlabnz.org/">Canterbury University's HIT Lab</a>, an Augmented Reality and Human Computer Interaction research lab.
          p class="something"
            | I spin records under the name <a href="https://www.djrube.net">DJ Rube</a>, playing a wide range of styles from Drum and Bass, to Soul, and everything in between. A long timer "Burner" at the NZ regional Burning Man event Kiwiburn, I also love to travel.
        div
          p
            | You can <a href="/contact">get in touch with me here</a>.
