%head 
   %link(rel="stylesheet" href="css/pure-min.css")
   %link(rel="stylesheet" href="css/site.css")
   %link(rel="stylesheet" href="css/home_page.css")


%body
   .pure-g.content.centered
      .horizontal_rule.heading_rule
      .pure-u-1-3.image_box  
         %img.avatar(src="images/robramsaynz.jpg" alt="Rob Ramsay")
      .pure-u-2-3.details_box
         %h1.home_page_heading Rob Ramsay
         .bio
            A Wellington based Ruby on Rails developer at web-consultancy <a href="http://rabid.co.nz">Rabid</a>. Ex Electronic-Engineer, dance music nerd, and creative co-conspirator. Rob worked at <a href="http://www.hitlabnz.org/">Canterbury University's HIT Lab</a> in a former life.

            


