%head 
   %link(rel="stylesheet" href="css/pure-min.css")
   %link(rel="stylesheet" href="css/site.css")
   %link(rel="stylesheet" href="css/home_page.css")


%body
   .pure-g.content.centered
      .horizontal_rule.heading_rule

      .pure-u-1-5
      .pure-u-1-5 Blog
      .pure-u-1-5 Contact Me
      .pure-u-1-5 Projects

      .pure-u-1-1(style="height: 2em; width: 100%")

      .pure-u-1-3.image_box  
         %img.avatar(src="images/robramsaynz.jpg" alt="Rob Ramsay")
      .pure-u-2-3.details_box
         %h1.home_page_heading Rob Ramsay
         .bio
            A Wellington based web-developer, Engineer, and DJ.

         .contact_details
            %ul
               %li 
                  %a(href="http://twitter.com/robramsaynz") Twitter
               %li 
                  %a(href="https://github.com/robramsaynz") Github
               %li 
                  %a(href="mailto:robert.ramsay.nz@gmail.com") Email

         .something
            I work for web development consultancy Rabid as a Ruby on Rails developer.
            In a former life I worked at Canterbury University's HIT Lab, an Augmented
            Reality and Human Computer Interaction research lab.
            

