%head 
  %link(href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css')
  %link(rel="stylesheet" href="../stylesheets/aaa.css")

%body
  .container.type-system-serif
    .sidebar
      %h1 
        %a.nav-link(href="/") Rob Ramsay

      %h2
        %a.nav-link(href="/blog") Blog
      %h2
        %a.nav-link(href="/projects") Projects
      %h2
        %a.nav-link(href="/contact") Contact

    .content
      %h1 Employment

