%head 
  %link(href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css')
  %link(rel="stylesheet" href="../stylesheets/aaa.css")

%body
  .container.type-system-serif
    .sidebar
      .mobile-nav
        %h2
          %a.nav-link(href="/") Home
          &ndash;
          %a.nav-link(href="/blog") Blog
          &ndash;
          %a.nav-link(href="/music") Music
          &ndash;
          %a.nav-link(href="/employment") Employment
          &ndash;
          %a.nav-link(href="/contact") Contact

      .desktop-nav
        %h1
          %a.nav-link(href="/") Rob Ramsay

        %h2
          %a.nav-link(href="/blog") Blog
        %h2
          %a.nav-link(href="/music") Music
        %h2
          %a.nav-link(href="/employment") Employment
        %h2
          %a.nav-link(href="/contact") Contact

    .content
      %h1 Employment

      %p Hi I'm Rob, a full-stack Ruby on Rails developer. I love working in friendly tight knit teams and I have an interest in Design and UX. I've programmed in a range of languages over the years and like to learn new skills.

      %p I love gigs, movie nights, and hiking. As well as DJing electronic music, I help organise the Work In Progress club-night. You might have met me at a Startup Weekend or Rails Girls events, and I'm a regular at Wellington's design and development meetups.

      %p
        Check out my
        %a(href="cv/index.html") CV
        or
        %a(href="http://github.com/robramsaynz") github profile
        for more.
