%head 
  %link(href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css')
  %link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css')
  %link(rel="stylesheet" href="../stylesheets/aaa.css")

%body
  .container.type-system-serif
    .sidebar
      .mobile-nav
        %h2
          %a.nav-link(href="/") Home
          &ndash;
          %a.nav-link(href="/blog") Blog
          &ndash;
          %a.nav-link(href="/projects") Projects
          &ndash;
          %a.nav-link(href="/contact") Contact

      .desktop-nav
        %h1
          %a.nav-link(href="/") Rob Ramsay

        %h2
          %a.nav-link(href="/blog") Blog
        %h2
          %a.nav-link(href="/projects") Projects
        %h2
          %a.nav-link(href="/contact") Contact

    .content
      %h1 Blog

      %hr

      / %h2 lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy

      / %p
      /   eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam
      /   voluptua at vero eos et accusam et justo duo dolores et ea rebum stet clita
      /   kasd gubergren no sea takimata sanctus est lorem ipsum dolor sit amet lorem
      /   ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod
      /   gubergren no sea takimata sanctus est lorem ipsum dolor sit amet lorem ipsum
      /   dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor
      /   invidunt ut labore et dolore magna aliquyam erat sed diam voluptua at vero

      / %p
      /   lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy
      /   eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam
      /   voluptua at vero eos et accusam et justo duo dolores et ea rebum stet clita
      /   kasd gubergren no sea takimata sanctus est lorem ipsum dolor sit amet lorem
      /   ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod
      /   tempor invidunt ut labore et dolore magna aliquyam erat sed diam voluptua at
      /   vero eos et accusam et justo duo dolores et ea rebum stet clita kasd
      /   gubergren no sea takimata sanctus est lorem ipsum dolor sit amet lorem ipsum
      /   dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor
      /   invidunt ut labore et dolore magna aliquyam erat sed diam voluptua at vero

      / %h2 lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy

      / %p
      /   eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam
      /   voluptua at vero eos et accusam et justo duo dolores et ea rebum stet clita
      /   kasd gubergren no sea takimata sanctus est lorem ipsum dolor sit amet lorem
      /   ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod
      /   tempor invidunt ut labore et dolore magna aliquyam erat sed diam voluptua at
      /   vero eos et accusam et justo duo dolores et ea rebum stet clita kasd
      /   gubergren no sea takimata sanctus est lorem ipsum dolor sit amet lorem ipsum
      /   dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor
      /   invidunt ut labore et dolore magna aliquyam erat sed diam voluptua at vero
      /   eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren no
      /   sea takimata sanctus est lorem ipsum dolor sit amet
      /   duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
      /   molestie consequat vel illum dolore eu feugiat nulla facilisis at vero eros
      /   et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
